<% if notice %>
    <div class="alert alert-info"><%= notice %></div>
<% end %>
<% if alert %>
    <div class="alert alert-danger"><%= alert %></div>
<% end %>
<% flash.each do |key, value| %>
  <% if key == "success" %>
    <div class="alert alert-success"><%= value %></div>
  <% elsif key == "alert" %>
    <div class="alert alert-danger"><%= value %></div>
  <% end %>
<% end %>