.total-header {
  background-color: #fff;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
  border-bottom: solid 1px #00000097;
}

.total-header p {
  font-size: 1em;
}

.items-container {
  padding: 1rem;
  max-height: 60vh;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.item-card {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  color: #000;
  padding: 0.5rem;
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.07);
  text-decoration: none;
}

.item-meta {
  display: flex;
  gap: 0.5rem;
}

.item-group {
  display: flex;
  flex-direction: column;
}

.item-name {
  font-size: 1.3rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.item-data {
  font-size: 0.8rem;
  font-weight: 300;
}

.item-icon {
  width: 50px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
}

.item-value {
  font-size: 1.1em;
}

.del-btn {
  background: none;
  border: none;
  font-size: 1.3rem;
  color: crimson;
  width: 100%;
  text-align: right;
  margin-top: 0.25rem;
}
