.auth-header {
  position: relative;
  background-color: var(--primary);
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.auth-header .back-btn {
  display: block;
  z-index: 5;
  font-size: 2rem;
  min-width: 50px;
  min-height: 50px;
  text-align: center;
  color: #fff;
}

.auth-header h1 {
  color: #fff;
  font-size: 1.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.auth-form {
  max-width: 500px;
  width: 100%;
  margin: auto;
  padding: 2rem;
  background-color: #fff;
}

/* Form Fields */
.field {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin-bottom: 1rem;
}

.field input[type='text'],
.field input[type='email'],
.field input[type='password'] {
  display: block;
  width: 100%;
  padding: 0.5rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.field input[type='text']:focus,
.field input[type='email']:focus,
.field input[type='password']:focus {
  outline: none;
  border-color: #007bff;
}

/* Form Actions */
.actions {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
}

.form-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.form-links a {
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.form-links a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

.form-links a:active {
  color: #0d47a1;
  text-decoration: underline;
}
