.form-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: 100%;
}

.form-container form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
}

.form-control option {
  font-size: 1em;
}

.form-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1rem;
}

.form-links a {
  font-size: 1.1em;
  text-decoration: none;
  color: var(--primary);
  transition: all 0.3s ease;
}

.form-links a:hover {
  color: var(--dark-blue);
  text-decoration: underline;
}

.form-links a:active {
  color: #0d47a1;
  text-decoration: underline;
}
