<%= render 'shared/header', title: "Categories", back_link: false %>
<section class="container">
<div class="category-header">
    <p>Total Expense</p>
    <p><%= number_to_currency(@categories.map(&:total_expense).sum) %></p>
</div>
<div class="category-container">
    <% @categories.each do |category| %>
        <%= render 'item', category: category %>
    <% end %>
</div>

<div class="action-container">
    <%= link_to "Add Category", new_category_path, class: "action-button" %>
</div>
</section>