<%= render 'shared/header', back_link: categories_path, title: "Add Category" %>
<section class="container">
    <% if flash[:alert].present? %>
        <div class="alert alert-danger">
            <strong>Error:</strong> <%= flash[:alert] %>
        </div>
    <% end %>
    <div class="form-container">
        <%= render 'form' %>
    </div>
</section>